html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
}

.headerWrap {
  background: transparent;
  margin: 0;
  padding: 0px 14px;
  background-size: contain;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
  left: 0px;
  align-items: center;
  border-radius: 4px;
  width: calc(100% - 18px);
  max-width: 100%;
  right: 0;
  top: 0px;
}

.headerleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerleft a {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  position: relative;
  font-family: "DINNextLTProBold";
  text-decoration: unset; /* ss */
}
.headerleft a img.arrowup {
  display: none;
}
.headerleft a img.arrowdown {
  display: inline-block;
}
.headerleft a:first-child {
  padding: 0 15px 0 0;
}
.headerrtright a span {
  width: 27px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 6px 0;
  transition: all 0.3s linear;
}
.headerright {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.headerrtright {
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
  padding: 10px 0;
  position: relative;
  border: 0; /*display:none;*/
}
.headerrtright:before {
  position: absolute;
  content: "";
  left: 0;
  top: 4px;
  width: 1px;
  height: 90%;
  background-color: #ccc;
  display: none;
}

.headerWrap.white .headerrtright a.togglemenu span {
  background-color: #000;
}
.headerrtleft ul li a {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 10px;
  font-family: "DINNextLTProBold";
  color: #fff;
}
.headerrtright a {
  font-weight: 400;
  font-size: 13px;
  padding: 0 10px;
  position: relative;
  display: none;
}
.headerrtright a img.arrowup {
  display: none;
}
.headerrtright a img.arrowdown {
  display: inline-block;
}
.headerrtright a span:nth-child(2) {
  width: 18px;
}
.headerrtright a span:nth-child(3) {
  width: 25px;
}
.headerrtleft {
  padding-right: 10px;
}
.headerrtright {
  padding-left: 10px;
}
.menuoverlay {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
  opacity: 0;
  visibility: hidden;
}
.rc200 .menuoverlay {
  z-index: 9;
}
.menuoverlay.active {
  opacity: 1;
  visibility: visible;
}
.mainmenu {
  width: 315px;
  height: 100vh;
  padding: 88px 33px 0 36px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -315px;
  transition: all 0.1s linear;
  z-index: 111;
}
.mainmenu.active {
  margin-right: 0;
}
.headerrtright a:last-child {
  z-index: 1;
}
.togglemenu.active span:nth-child(2) {
  display: none;
}
.togglemenu.active span:nth-child(1) {
  transform: rotate(45deg);
  background-color: #fff;
  top: 8px;
  position: relative;
}
.togglemenu.active span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #fff;
}
.mainmenu ul li a {
  color: #000;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "DINNextLTProBold";
  font-size: 14px;
  align-items: center;
}
.mainmenu ul li:first-child a {
  padding-top: 0;
}
.mainmenu ul li {
  border-bottom: 1px solid #1a64ab;
}
.mainmenu ul.newmenu {
  padding-top: 15px;
}
.mainmenu ul.newmenu li a {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  align-items: center;
}
.mainmenu ul.newmenu li a p {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}
.mainmenu ul.newmenu li a span {
  display: block;
  font-family: "DINNextLTProRegular";
}
.mainmenu ul.newmenu li a img {
  max-width: fit-content;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #1a64ab;
  margin-right: 10px;
}
.mainmenu ul.newmenu li {
  border-bottom: 0;
}
.mainmenu li a img {
  max-width: fit-content;
}
.mainmenu li a img.menudropdown {
  display: block;
}
.mainmenu li a img.menudropdownup {
  display: none;
}
.headerrtright .login-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("https://cdn.bajajauto.com/images/ktm/header/person-ktm-sprite.png") left top no-repeat;
  position: relative;
  top: 3px;
}
.headerWrap.white .headerrtright .login-icon {
  background-position: left -32px;
}

.headerrtright .search-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("https://cdn.bajajauto.com/images/ktm/header/search-icon.png") left top no-repeat;
  position: relative;
  top: 3px;
}
.headerWrap.white .headerrtright .search-icon {
  background-position: left -32px;
}

.modelDropdownWrap {
  background-color: #fff;
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  transition: all 0.3s linear;
  z-index: 113;
}
.modelDropdownWrap.active {
  top: 0;
  transition: all 0.3s linear;
  display: flex;
}

.headerleft a.modeldropdown:before {
  content: "";
  width: 100%;
  background-color: transparent;
  height: 3px;
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.headerleft .modeldropdown.active:before {
  background-color: #ff6600;
}
.headerleft a.modeldropdown.active img.arrowdown {
  display: none;
}
.headerleft a.modeldropdown.active img.arrowup {
  display: inline-block;
}
.modelleftWrap {
  width: 10%;
  background-color: #ff6600;
  height: 100%;
  padding-top: 0px;
  margin-top: 85px;
  box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
  -webkit-box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
  -moz-box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
  min-width: 199px;
}
.headerWrap.white {
  background: #fff;
}
.modelleftWrap ul li {
  position: relative;
}
.modelleftWrap ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 33.5px 35px;
  display: block;
  font-family: "DINNextLTProBold";
  text-align: right;
  border-bottom: 1px solid #ff8533;
}
.modelrightWrap {
  padding: 0px 40px 70px;
  width: 90%;
  margin-top: 85px;
  box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
  -webkit-box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
  -moz-box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
}
.modelleftWrap ul li:before {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #ff6600;
  border-bottom: 10px solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  display: none;
}
.modelleftWrap ul li.active:before {
  display: block;
}
.tabdata {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}
.tabdata a {
  padding: 20px;
  display: inline-block;
  font-size: 14px;
  font-family: "DIN_Next_LT_Pro_Medium";
  line-height: 20px;
  position: relative;
}
.menutab1 .tabdata a {
  text-transform: uppercase;
  text-decoration: unset;
}
.tabcontainer {
  padding: 40px 20px;
}
.tabcontainer .fadewrap {
  display: none;
}
.tabcontainer .fadewrap.in {
  display: block;
}
.closektm-model {
  display: inline-block;
  float: right;
  padding: 20px 20px;
  cursor: pointer;
}

.tabdata a:before {
  content: "";
  width: 0;
  background-color: transparent;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.3s linear;
}
.tabdata a.current:before {
  background-color: #ff6600;
  width: 100%;
}
.tabdata a.current {
  color: #ff6600;
}
.tabdata a:hover:before {
  background-color: #ff6600;
  width: 100%;
}

.bikeWRapper a {
  padding: 0 34px 30px 0;
  text-align: center;
  width: 20%;
  display: inline-block;
  margin-right: 5%;
}

.bikeWRapper a p {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  z-index: 1;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 14px;
  padding-top: 5px;
  font-family: "ProximaNovaBold";
  color: #000;
}

.bikeWRapper a img {
  transform: translateY(2px);
  transition: all 0.3s linear;
  display: inline-block;
  height: auto;
}

.bikeWRapper a:hover img {
  transform: translateY(4px);
  transform: translateY(8px);
  transition: all 0.3s linear;
  transform: scale(1.1);
}

.bikeWRapper {
  display: flex;
  flex-wrap: wrap;
}
.menutabfade {
  display: none;
}
.menutabfade.in {
  display: block;
}
.closemenu {
  position: absolute;
  top: 27px;
  right: 32px;
  cursor: pointer;
  display: inline-block;
  z-index: 9999;
}
.mobileshowmenu {
  display: none;
}
.languagedropdown {
  position: absolute;
  top: 44px;
  left: 0;
  background-color: #fff;
  width: 78px;
  height: auto;
  border: 1px solid #ccc;
  padding: 0 5px;
  display: none;
  color: #000;
}
.languagedropdown.active {
  display: block;
}
.headerrtright a.lang span {
  width: auto;
  height: auto;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  font-family: "DIN_Next_LT_Pro_Medium";
}
.slidedownWrap {
  padding: 0 15px;
  display: none;
}
.slidedownWrap.active {
  display: block;
}
.mainmenu ul li .slidedownWrap a {
  padding: 10px 0;
  font-size: 12px;
}
.mainmenu ul li .slidedownWrap a:first-child {
  padding: 5px 0 10px;
}
.mainmenu ul li a.active .menudropdownup {
  display: block;
}
.mainmenu ul li a.active .menudropdown {
  display: none;
}
.srollhide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.srollhidelang {
  overflow: hidden;
  position: relative;
}
.srollhideshow {
  overflow: hidden;
  position: relative;
}
.srollhide .headerWrap {
  /* border-radius: 0; margin: 0;width: 100%; */
}
.headerWrap.white {
  background: #fff;
}
.headerWrap.white .headerleft a,
.headerWrap.white .headerrtleft ul li a,
.headerWrap.white .headerrtright a {
  color: #000;
}
.modelDropdownWrap.active .tabdata a.current {
  color: #ff6600;
}
.tabdata a.current:before {
  background-color: #ff6600;
}
.headerrtright a {
  color: #fff;
}
.headerrtright a.togglemenu span {
  background-color: #fff;
}
.mainmenu ul li {
  border-bottom: 1px solid #ffefe5;
}
.mainmenu ul.newmenu li a img {
  border: 2px solid #ffe0cc;
}
.headerWrap {
  background: url(https://cdn.bajajauto.com/images/ktm/header/ktm-header-shadow.png) left top repeat-x;
  width: 100%;
  background-size: contain;
}
.bajautoHome .scrollTop {
  background-color: #ffd1b2;
}

/*microinteraction start*/

.headerrtleft ul li a {
  position: relative;
}
.headerrtleft ul li a:before {
  width: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  background-color: #ff6600;
  height: 2px;
  transition: all 0.3s linear;
  right: 0;
  margin: 0 auto;
}
.headerrtleft ul li a:hover:before,
.headerleft a:hover:before {
  width: 100%;
}
.headerrtleft ul li a:hover,
.headerleft a:hover {
  color: #ff6600;
}

.headerleft a.modeldropdown:before {
  width: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  background-color: #ff6600;
  height: 2px;
  transition: all 0.3s linear;
}
.headerleft a:hover:before {
  width: 100%;
}

.eShowDropDown .eShowDropDownBox ul li a:after {
  width: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  background-color: #ff6600;
  height: 2px;
  transition: all 0.3s linear;
  right: 0;
  margin: 0 auto;
}
.eShowDropDown .eShowDropDownBox ul li a:hover:after {
  width: 100%;
}
/*microinteraction end*/

/*popup css start*/
.eShowDropDown.active {
  top: 0;
  transition: all 0.3s linear;
}
.eShowDropDown {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: -150%;
  transition: all 0.3s linear;
  z-index: 112;
}

.eShowDropDown .eShowDropDownBox {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 67px;
  box-shadow: -113px 172px 33px -133px rgb(11 10 10 / 10%) inset;
  -webkit-box-shadow: -113px 172px 33px -133px rgb(11 10 10 / 10%) inset;
  -moz-box-shadow: -113px 172px 33px -133px rgba(11, 10, 10, 0.1) inset;
}

.eShowDropDown .eShowDropDownBox ul {
  padding: 40px 0;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}
.eShowDropDown .eShowDropDownBox ul li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1% 2%;
  float: left;
}
.eShowDropDown .eShowDropDownBox ul li img {
  margin: 0 auto;
  padding-bottom: 7px;
}
.eShowDropDown .eShowDropDownBox ul li p {
  color: #000;
  padding: 10px 0 30px;
  font-family: "DIN_Next_LT_Pro_Medium";
  font-size: 14px;
}
.eShowDropDown .eShowDropDownBox ul li a {
  display: inline-block;
  color: #ff6600;
  font-size: 12px;
  width: auto;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-bottom: 6px;
  font-family: "DINNextLTProBold";
}
.eShowDropDown .eShowDropDownBox ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: #ffd1b2;
  width: 100%;
  height: 2px;
}
.eShowDropDown .eShowDropDownBox ul li .e-showroom-main {
  width: 100%;
  float: left;
  display: flex;
  align-content: center;
  align-items: center;
}
.eShowDropDown .eShowDropDownBox ul li .e-showroom-main .eshowroom-head {
  width: 15%;
  float: left;
  font-family: "DIN_Next_LT_Pro_Medium";
  font-size: 14px;
  color: #000;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.eShowDropDown .eShowDropDownBox ul li .e-showroom-main .e-showroom-links {
  display: inline-block;
  padding: 10px 10px;
  width: 33%;
  text-align: center;
}
.eShowDropDown .eShowDropDownBox ul li:last-child {
  border-right: none;
}

.e-showroom-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.e-showroom-overlay.active {
  display: block;
}

/*languagedropdown start*/

.languagedropdown.active {
  display: block;
}
.languagedropdown {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 4;
  display: none;
  top: 0;
}

.languagedropdown .languagedropdownBox {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 67px;
}
.languagedropdown .languagedropdownBox h2 {
  text-align: center;
  padding-top: 34px;
  text-align: center;
}
.languagedropdown .languagedropdownBox ul {
  padding: 16px 0 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.languagedropdown .languagedropdownBox ul li {
  margin: 0 4px;
}
.languagedropdown .languagedropdownBox ul li .langDropChose {
  background-color: #efeeed;
  width: 92px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #006ad0;
  font-family: "DIN_Next_LT_Pro_Medium";
  font-size: 15px;
}
.languagedropdown .languagedropdownBox ul li .langDropChose abbr {
  padding-top: 4px;
}
.languagedropdown .languagedropdownBox ul li a {
  position: relative;
}
.languagedropdown .languagedropdownBox ul li p {
  color: #000;
  font-family: "DIN_Next_LT_Pro_Medium";
  font-size: 14px;
}
.languagedropdown .languagedropdownBox ul li a.active .langDropChose {
  background-color: #fff;
  border: 2px solid #cce1f6;
}

.languagedropdown .languagedropdownBox ul li a.active:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 46%;
  transform: translateX(-50%);
  width: 5px;
  height: 10px;
  border: solid #006ad0;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.languagedropdown .languagedropdownBox ul li a.active:before {
  content: "";
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #d0e4f6;
  border-radius: 50%;
}

/*languagedropdown end*/

.mCSB_scrollTools .mCSB_draggerRail {
  width: 3px;
  background-color: #ffd1b2;
  border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  background-color: #ff6600;
  border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #ff6600;
}
.mCSB_scrollTools .mCSB_dragger {
  height: 100px !important;
}
.enquirePop::-webkit-scrollbar {
  display: none;
}
.enquirePop .closemenu {
  top: 3px;
}
.mCSB_inside > .mCSB_container {
  margin: 0;
}
/**** showroom css ***/
.showroom-btn {
  display: block;
  vertical-align: middle;
  display: inline-block !important;
  letter-spacing: 3px;
  font-family: "Conv_Blender-Pro-Heavy";
  font-size: 12px !important;
  margin-left: 10px;
  background: #f60;
  padding: 10px 7px 7px 5px !important;
  text-align: center;
}
/***** showroom css end ******/

/*popup css start*/

.headerrtright a.lang {
  display: none;
}

.srollhide .headerWrap,
.srollhideshow .headerWrap,
.srollhidelang .headerWrap {
  z-index: 114;
}
.srollhide .menuoverlay,
.srollhideshow .menuoverlay,
.srollhidelang .menuoverlay {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}

.searchBox-wrapper {
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  z-index: 115;
  transition: all 0.3s linear;
}
.searchBox-wrapper.active {
  top: 0;
}
.searchBox-wrapper .serachBox-main {
  float: left;
  width: 100%;
}
.searchBox-wrapper .serachBox-main .close {
  position: absolute;
  right: 2%;
  top: 30px;
}
.searchBox-wrapper .serachBox-main .s-box {
  float: left;
  width: 100%;
  background: #ff6600;
  box-shadow: -113px 172px 33px -133px rgb(11 10 10 / 6%) inset;
  -webkit-box-shadow: -113px 172px 33px -133px rgb(11 10 10 / 6%) inset;
  -moz-box-shadow: -113px 172px 33px -133px rgb(11 10 10 / 6%) inset;
}
.searchBox-wrapper .serachBox-main .s-box-content {
  width: 80%;
  margin: 0 auto;
}
.searchBox-wrapper .serachBox-main .s-box-content .search-placeholder {
  float: left;
  width: 100%;
  position: relative;
  margin: 8% 0 6%;
}
.searchBox-wrapper
  .serachBox-main
  .s-box-content
  .search-placeholder
  .sech-head {
  float: left;
  width: 100%;
  font-family: "DINNextLTProLight";
  color: #afafaf;
  font-size: 24px;
  padding: 10px 15% 10px 25px;
  border: none;
  border-radius: 3px;
  background: #fff;
  height: 70px;
}
.searchBox-wrapper .serachBox-main .s-box-content .search-b {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background: url(https://cdn.bajajauto.com/images/ktm/header/search.png) no-repeat center center;
}
.searchBox-wrapper .serachBox-main .s-box-content .mic {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 80px;
  height: 50px;
  border: none;
  border-left: 1px solid #f0f0f0;
  background: url(https://cdn.bajajauto.com/images/ktm/header/mic.png) no-repeat center center;
}
.popular-topic-main {
  float: left;
  width: 100%;
  background: #fff;
  padding: 2% 0;
}
.popular-topic-main .topic-content {
  float: left;
  width: 100%;
}
.popular-topic-main .topic-content .topic-head {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #191919;
  font-family: "DINNextLTProBold";
  text-transform: uppercase;
}
.popular-topic-main .topic-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.popular-topic-main .topic-content ul li {
  display: inline-block;
  margin: 5px 20px 5px 0;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  background: #005bff;
  background: linear-gradient(
    to left,
    rgba(241, 241, 241, 0),
    rgba(241, 241, 241, 1) 50%,
    rgba(241, 241, 241, 1) 100%
  );
  font-family: "ProximaNovaRegular";
  font-size: 16px;
  color: #191919;
  padding: 15px 35px;
}
.backTo {
  position: absolute;
  left: 20px;
  top: 27px;
  font-family: "DINNextLTProBold";
}
.backTo i {
  margin-right: 5px;
  color: #ff6600;
}

.test-ride-btn {
  background: #f60;
  padding: 7px 10px 7px 10px !important;
  vertical-align: middle;
  display: inline-block !important;
  letter-spacing: 3px;
  font-family: "Conv_Blender-Pro-Heavy";
  font-size: 12px !important;
}

.enquirePop.bajajForm {
  display: none !important;
}

@media screen and (max-width: 1600px) {
  .eShowDropDown .eShowDropDownBox ul li .e-showroom-main .e-showroom-links {
    width: 26.5%;
  }
}

@media only screen and (max-width: 991px) {
  .headerleft a:nth-child(2),
  .headerleft a:nth-child(3) {
    display: none;
  }
  .headerrtleft {
    display: none;
  }
  .headerrtright {
    border-left: 0;
    padding: 0;
  }
  .mainmenu ul.newmenu {
    padding-left: 20px;
  }
  .mainmenu {
    width: 100%;
    margin-right: -100%;
    padding: 20px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .mainmenu ul li a {
    color: #000;
    font-size: 14px;
    padding: 15px 30px;
  }
  .mainmenu ul.newmenu li a p {
    font-size: 11px;
    font-weight: 400;
  }
  .mainmenu ul.newmenu li a span {
    font-weight: 400;
  }
  .mainmenu .mobileshowmenu ul li a {
    font-size: 14px;
    color: #000;
  }
  .mobileshowmenu {
    margin-bottom: 20px;
    display: block;
    padding-top: 40px;
  }
  .mobileshowmenu ul li.innerdropdown a {
    position: relative;
  }
  .mobileshowmenu ul li.innerdropdown a:before {
    content: "";
    background: url(https://cdn.bajajauto.com/images/ktm/header/leftarrow.png) no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 13px;
    right: 25px;
  }
  .mobilemodelsmenu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -100%;
    padding: 40px 20px 0 60px;
    transition: all 0.3s linear;
    z-index: 1;
  }
  .mobilemodelsmenu.active {
    margin-right: 0;
  }
  .mobilemodelsmenu h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-family: "DINNextLTProBold";
  }
  .rightslide {
    background-color: #ff6600;
    padding: 36px 10px 0;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .closemenu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: inline-block;
  }
  ul.menuaccordian li {
    border-bottom: 1px solid #f0eeef;
    padding: 15px 0;
  }
  ul.menuaccordian {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  ul.menuaccordian li h4 {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "DIN_Next_LT_Pro_Medium";
    color: #ff6600;
  }
  .menuaccordian-container {
    display: none;
  }
  span.down-arrow {
    float: right;
    background: url(https://cdn.bajajauto.com/images/ktm/header/bluedown-arrow.png) no-repeat;
    width: 12px;
    height: 12px;
  }
  span.up-arrow {
    float: right;
    background: url(https://cdn.bajajauto.com/images/ktm/header/blueup-arrow.png) no-repeat;
    width: 12px;
    height: 12px;
  }
  ul.menuaccordian li .menuaccordian-container ul li {
    border-bottom: 0;
    padding: 15px 0 0;
  }
  ul.menuaccordian li .menuaccordian-container ul li a {
    color: #ccc;
    font-size: 12px;
    padding: 10px 0;
    position: relative;
  }
    ul.menuaccordian li .menuaccordian-container ul li span {
        position: absolute;
        content: "";
        right: 20px;
        background: url(https://cdn.bajajauto.com/images/ktm/header/bluedown-arrow.png) no-repeat;
        width: 12px;
        height: 12px;
        margin-top: -30px;
    }

    ul.menuaccordian li .menuaccordian-container ul li.active span {
        background: url(https://cdn.bajajauto.com/images/ktm/header/blueup-arrow.png) no-repeat;
    }
  .accorddropdown {
    padding: 0 10px;
    display: none;
  }
  ul.menuaccordian li .menuaccordian-container ul li .accorddropdown a:before {
    display: none;
  }
  
  ul.menuaccordian li .menuaccordian-container ul li.active .accorddropdown {
    display: block;
  }
  .headerWrap {
    padding: 0px 7px 9px 20px;
    border: 0;
    left: 0;
  }
  .mainmenu ul li .slidedownWrap a {
    font-size: 10px;
  }
  .slidedownWrap {
    padding: 0 40px;
  }
  .headerWrap {
    width: 100%;
    margin: 0;
  }
  .headerWrap {
    border-radius: 0;
  }
  .ktm .headerrtright {
    border-left: none;
  }
  .ktm .mainmenu ul li a {
    color: #f1f1f1;
  }
  .ktm .rightslide {
    background-color: #ff6600;
  }
  .ktm ul.menuaccordian li h4 {
    color: #ff6600;
  }
  .ktm ul.menuaccordian li .menuaccordian-container ul li a {
    color: #ff656b;
  }
  .ktm span.up-arrow {
    background: url(https://cdn.bajajauto.com/images/ktm/header/ktmup-arrow.png) no-repeat;
  }
  .ktm ul.menuaccordian li .menuaccordian-container ul li a:before {
    background: url(https://cdn.bajajauto.com/images/ktm/header/ktmdown-arrow.png) no-repeat;
  }
  .headerrtright:before {
    display: none;
  }
  .headerrtright a {
    padding: 0 10px 0 18px;
  }
  .headerrtright a:first-child {
    padding: 0 7px 0 18px;
  }
  .headerleft {
    max-width: 104px;
  }

  /*popup css start*/
  .mobileShowmenuOnly.active .eShowDropDown {
    display: block;
  }
  .eShowDropDown {
    position: relative;
    width: auto;
    height: 100%;
  }
  .eShowDropDown .eShowDropDownBox {
    max-width: 100%;
    margin-top: 0;
  }
  .eShowDropDown .eShowDropDownBox > ul {
    max-width: 100%;
  }
  .eShowDropDown .eShowDropDownBox ul {
    flex-wrap: wrap;
    text-align: left;
    padding: 20px 0;
  }
  .eShowDropDown .eShowDropDownBox ul li {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
    padding: 0 20px 20px 20px;
  }
  .eShowDropDown .eShowDropDownBox ul li img {
    margin-left: 0;
  }
  .mobileShowmenuOnly {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -100%;
    padding: 40px 20px 0 60px;
    transition: all 0.3s linear;
    z-index: 99999;
  }
  .mobileShowmenuOnly.active {
    margin-right: 0;
  }
  .eShowDropDown .eShowDropDownBox ul li a {
    color: #ff6600;
    font-size: 14px;
    padding: 0;
    padding-bottom: 4px;
  }
  .mobileShowmenuOnly h2 {
    text-transform: uppercase;
    padding-left: 20px;
  }
  .mobileShowmenuOnly {
    padding: 40px 0 0 40px;
  }
  .eShowDropDown .eShowDropDownBox ul li p {
    padding: 10px 0 14px;
  }
  .mobilemodelsmenu .closemenu,
  .mobileshowmenu .closemenu {
    z-index: 9;
  }
  .mobileShowmenuOnly {
    height: 100%;
  }
  .mobilemodelsmenu {
    z-index: 9999;
  }
  .mainmenu ul li.innerdropdown:first-child a {
    padding-top: 15px;
  }
  .mobileshowmenu ul li.innerdropdown a:before {
    top: 50%;
    transform: translateY(-50%);
  }

  .eShowDropDown .eShowDropDownBox ul li:first-child {
    width: 100%;
  }
  .eShowDropDown .eShowDropDownBox ul li .e-showroom-main .e-showroom-links {
    width: 100%;
  }

  /*languagedropdown start*/

  .languagedropdown {
    height: 100%;
    overflow-y: scroll;
    z-index: 99;
    padding: 0;
  }
  .languagedropdown .languagedropdownBox ul {
    flex-wrap: wrap;
  }
  .languagedropdown .languagedropdownBox ul li {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e7e8;
  }
  .languagedropdown .languagedropdownBox ul li .langDropChose {
    border: 0;
    background-color: transparent;
    width: auto;
    height: auto;
  }
  .languagedropdown .languagedropdownBox ul li a.active .langDropChose {
    border: 0;
  }
  .languagedropdown .languagedropdownBox ul {
    text-align: left;
    align-items: flex-start;
  }
  .languagedropdown .languagedropdownBox ul li a {
    display: flex;
    align-items: flex-start;
  }
  .languagedropdown .languagedropdownBox ul li .langDropChose abbr {
    padding: 0 30px 0 64px;
    width: 200px;
  }
  .languagedropdown .languagedropdownBox h2 {
    text-align: left;
  }
  .languagedropdown .languagedropdownBox {
    margin-top: 10px;
  }
  .languagedropdown .languagedropdownBox ul li a.active:before {
    left: 30px;
  }
  .languagedropdown .languagedropdownBox ul li a.active:after {
    left: 30px;
  }
  .languagedropdown .languagedropdownBox h2 {
    font-size: 22px;
    padding-left: 30px;
  }
  .languagedropdown .languagedropdownBox {
    max-width: 100%;
  }
  .languagedropdown .languagedropdownBox ul li a.active:before {
    width: 12px;
    height: 12px;
    top: 0;
  }
  .languagedropdown .languagedropdownBox ul li a.active:after {
    top: 4px;
    left: 28px;
    width: 3px;
    height: 8px;
  }

  /*languagedropdown end*/
  .bjCheckBox .bjChekIn a {
    font-size: 11px;
  }
  .bajajForm .bjFiledWrap label {
    font-size: 11px;
  }
  .eShowDropDown .eShowDropDownBox {
    box-shadow: none;
  }
  /*popup css end*/

  .eShowDropDown {
    display: none;
    top: 0;
  }
  .srollhide .headerWrap {
    z-index: 110;
  }
  .languagedropdown {
    z-index: 119;
  }
  .languagedropdown .closemenu {
    display: block;
  }
  .srollhide .headerWrap,
  .srollhideshow .headerWrap,
  .srollhidelang .headerWrap {
    z-index: 99;
  }
  .eShowDropDown .eShowDropDownBox ul li .e-showroom-main {
    display: block;
  }
  .eShowDropDown .eShowDropDownBox ul li .e-showroom-main .eshowroom-head {
    width: 100%;
  }
  .eShowDropDown .eShowDropDownBox ul li .e-showroom-main .e-showroom-links {
    text-align: left;
  }
  .searchBox-wrapper
    .serachBox-main
    .s-box-content
    .search-placeholder
    .sech-head {
    height: 50px;
    font-size: 18px;
  }
  .searchBox-wrapper .serachBox-main .s-box-content .search-b,
  .searchBox-wrapper .serachBox-main .s-box-content .mic {
    background-size: contain;
  }
  .searchBox-wrapper .serachBox-main .s-box-content .search-b {
    width: 30px;
    height: 30px;
    right: 65px;
  }
  .searchBox-wrapper .serachBox-main .s-box-content .mic {
    width: 45px;
    height: 30px;
  }
  .searchBox-wrapper
    .serachBox-main
    .s-box-content
    .search-placeholder
    .sech-head {
    padding: 10px 35% 10px 25px;
  }
  .searchBox-wrapper .serachBox-main .s-box-content .search-placeholder {
    margin: 60px 0 6%;
  }
  .searchBox-wrapper .serachBox-main .close {
    top: 20px;
    right: 3%;
  }
  .searchBox-wrapper .serachBox-main .s-box-content {
    width: 90%;
  }
  .mobilemodelsmenu.active {
    height: 100vh;
    overflow: auto;
  }
  .mobilemodelsmenu.active .rightslide {
    position: fixed;
  }
  .headerleft a {
    display: none;
  }
  .headerleft a:first-child {
    display: block;
  }

  .headerrtright a {
    display: block;
  }

  .test-ride-btn.active {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 15px !important;
    z-index: 91 !important;
  }

  .bikeAllDetail .comButton {
    top: 18px;
    width: auto;
    left: 140px;
    padding: 10px 10px;
    bottom: inherit !important;
  }
  .bikeAllDetail .comButton a.comColorBtn {
    border-right: #fff solid 0px !important;
  }
  .bikeAllDetail .comButton.active {
    bottom: 0 !important;
    width: 100%;
    left: 0;
    top: inherit;
  }
  .bikeAllDetail .comButton a {
    padding: 2px 0;
  }

  .bikeAllDetail .comButton {
    top: inherit;
    bottom: 0 !important;
    width: 100%;
    left: 0;
  }
  .bikeAllDetail .comButton a.comColorBtn {
    border-right: #fff solid 1px !important;
  }
  .bikeAllDetail .comButton a.comColorBtn:last-child {
    border-right: none !important;
  }
  .comButton a.comColorBtn:after{background-color:transparent!important;}
}

@media screen and (max-width: 390px) {
  .bikeAllDetail .comButton {
    left: 126px;
    padding: 10px 7px;
  }
  .bikeAllDetail .comButton {
    left: 0;
  }
}
